@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 35px;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header a{
  color: black;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.left-links ,.right-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 5px;
}
.left-links a{
  text-decoration: none;
}
.right-links a{
  text-decoration: none;
}
.content{
  display: flex;
  justify-content: center;
}
.content .buttons, .content .input{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer{
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer a{
  color: gray;
  margin-left: ;
}