body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:stretch;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.main{
  flex-basis: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.cardcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.footer {
  height: 42px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  min-width: 250px;
}

.sidebar ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  padding: 0%;
  padding-left: 1em;
}
.sidebar a{
  text-decoration: none;
  color: #eee;

}

.card {
  border: 1px solid #eee;
  box-shadow: 4px 8px 32px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 300px;
  max-width: 250px;
  padding: 10px;
  margin: 5px;
}
